<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script type="text/javascript" src="js/menu.js"></script>
        <script src="js/js_script.js" defer></script>
        <script src="https://vuejs.org/js/vue.js"></script>
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="js/vue_script.js" defer></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/deli-very.css">
        <script src="/vue/vue.js" defer></script>
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="js/deli-very.js" defer></script>
        <title>Maja's Burgers</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <main id="errything">
        <figure id="header">
          <img src="http://d1hkwj6qq9t78x.cloudfront.net/static/ui/SiteSunset.jpg" alt="Maja's Burgers" title="headerphoto" id="headerphoto">
          <h1 id="headertext">Welcome to Maja's Burgers</h1>
        </figure>
        <section id="select">
          <h2>Select burger</h2>
          <p>Choose your favorite burger below</p>
          <div id="menu">
            <div v-for="burger in burgers">
            {{ burger.name }}
            <input type="checkbox" name="ordered" :id="burger.name">
            <img :src ="burger.image" width="200" height="150">
            <ul>
              <li>{{ burger.kCal }}</li>
              <li v-if="burger.gluten==true">
                {{ "Contains gluten" }}
              </li>
              <li v-if="burger.lactose==true">
                {{ "Contains lactose" }}
              </li>
              <li v-if="burger.lactose==false && burger.gluten==false">
                {{ "Lactose and gluten free!" }}
              </li>
            </ul>
            </div>
          </div>
          </section>

          <section id="information">
            <h2>Customer information</h2>
            <p>Please provide your information below</p>
            <h3>Delivery information:
            <section id="deliveryInfo">
              <form id="form">
                <p>
                  <label for="name">Full name</label><br>
                  <input type="text" id="name" name="fn" required="required" placeholder="First- and last name">
                </p>
                <p>
                  <label for="email">E-mail</label><br>
                  <input type="email" id="email" name="e" required="required" placeholder="E-mail address">
                </p>
                <p>
                  <label for="payment">Payment</label><br>
                  <select id="payment" name="pym">
                    <option>Credit card</option>
                    <option>Swish</option>
                    <option>Cash at drop-off</option>
                  </select>
                <p>Gender</p>
                  <input type="radio" id="Female" name="gender" checked class="clickable">
                  <label for="Female">Female</label><br>
                  <input type="radio" id="Male" name="gender" checked class="clickable">
                  <label for="Male">Male</label><br>
                  <input type="radio" id="Non-binary" name="gender" checked class="clickable">
                  <label for="Non-binary">Non-binary</label><br>
                  <input type="radio" id="Undisclosed" name="gender" checked class="clickable">
                  <label for="Undisclosed">Undisclosed</label><br>

                  <h1> Click in the map! </h1>
                  <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
                  <div class="view-box">
                    <div id="dots" v-on:click="displayOrder">
                        <div
                          v-for="order in tempOrder"
                          v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
                          T
                        </div>
                    </div>
                  </div>

                <div id="ord">
                  <button type="button" class="clickable" id="submit" v-on:click="addOrder"><img src="http://vectips.com/wp-content/uploads/2016/02/133133.jpg" width="20" height="20">Place my order!</button>
                  <div id="displayinfo" v-if="clicked">
                    <p id=infoTitle>Order information:</p>
                    <div id="info">
                      {{name}} <br>
                      {{email}} <br>
                      {{payment}} <br>
                      {{gender}} <br>
                      {{burgersOrd}} <br>
                    </div>
                  </div>
                </div>

              </form>
            </section>
          </section>
      </main>
   </body>
   <hr>
   <footer>
     <p>&copy Maja's Burgers Inc</p>
</html>
