body {
    font-family: palatino;
    font-size: 120%;
}

.ingr {
  font-weight: bold;
}

#select {
  background-color: #000000;
  color: #FFFFFF;
  margin: 20px 20px 20px 20px;
  padding: 15px;
  border: 3px dashed #FFFFFF;
}

#information {
  margin: 50px 20px;
  padding: 15px;
  border: 3px dashed #000000;
}
button:hover {
  background-color: #87ceeb;
}

.clickable {
  cursor: pointer;
}

#burgers {
   width: 60%;
}

.header {
  margin: 50px 20px;
  height: 200px;
  overflow: hidden;
}

#headertext {
  position: absolute;
}

#headerphoto {
  opacity: 0.7;
  width: 100%;
  height: auto;
}

#submit {
  margin-top: 20px;
}

.wrapper {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: 170px 170px 170px;
 }

 .BBQ {
   grid-column: 1;
   grid-row: 1;
 }

 .BBQphoto {
   grid-column: 1;
   grid-row: 2;
 }

 .BBQlist {
   grid-column: 1;
   grid-row: 3;
 }

 .Chicken {
   grid-column: 2;
   grid-row: 1;
 }

 .Chickenphoto {
   grid-column: 2;
   grid-row: 2;
 }

 .Chickenlist {
   grid-column: 2;
   grid-row: 3;
 }

 .Vegan {
   grid-column: 3;
   grid-row: 1;
 }

 .Veganphoto {
   grid-column: 3;
   grid-row: 2;
 }

  .Veganlist {
   grid-column: 3;
   grid-row: 3;
 }
