body {
    font-family: palatino;
    font-size: 1.2em;
}
@media only screen and (max-width: 700px) {
    body {
      font-size: 80%;
    }

    .burgers {
      height: 9em;
      width: 9em;
    }
}

@media only screen and (max-width: 480px) {
    body {
      font-size: 70%;
    }

    .burgers {
      height: 7.5em;
      width: 7.5em;
    }
}

@media only screen and (max-width: 400px) {
    body {
      font-size: 60%;
    }

    .burgers {
      height: 7.5em;
      width: 7.5em;
    }
}

.ingr {
  font-weight: bold;
}

#select {
  background-color: #000000;
  color: #FFFFFF;
  margin: 10px 20px;
  padding: 2em;
  border: 3px dashed #FFFFFF;
}

#information {
  margin: 30px 20px;
  padding: 15px;
  border: 3px dashed #000000;
}
button:hover {
  background-color: #87ceeb;
}

.clickable {
  cursor: pointer;
}

#burgers {
   width: 60%;
}

#header {
  margin: 5px 20px;
  height: 100%;
  overflow: hidden;
}

#headertext {
  position: absolute;
  margin-top: -10%;
}


#headerphoto {
  opacity: 0.8;
  width: 100%;
  height: auto;
}

#submit {
  margin-top: 20px;
}

#menu {
     display: grid;
     grid-gap: 4em;
     grid-template-columns: 10em 10em 10em;
 }

#info {
  font-size: 70%;
  margin: 20px 5px;
  background-color: #FFB6C1;
  border: 3px dashed #FFFFFF;
  width: 40%
}
/*
 .BBQ {
   grid-column: 1;
   grid-row: 1;
 }

 .BBQphoto {
   grid-column: 1;
   grid-row: 2;
 }

 .BBQlist {
   grid-column: 1;
   grid-row: 3;
 }

 .Chicken {
   grid-column: 2;
   grid-row: 1;
 }

 .Chickenphoto {
   grid-column: 2;
   grid-row: 2;
 }

 .Chickenlist {
   grid-column: 2;
   grid-row: 3;
 }

 .Vegan {
   grid-column: 3;
   grid-row: 1;
 }

 .Veganphoto {
   grid-column: 3;
   grid-row: 2;
 }

  .Veganlist {
   grid-column: 3;
   grid-row: 3;
 }
*/
